<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Latest News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-card *ngFor="let news of newsData;" (click)="opennews(news.url)">
      <ion-row>
        <ion-col><img src="{{news.urlToImage}}"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          {{news.title}}
        </ion-col>
      </ion-row>
      <ion-row>
    <ion-col size="6.6">Author: {{news.author}}</ion-col>
    <ion-col size="1.3" (click)="opennews(news.url)">Visit</ion-col>    
    <ion-col size="4.1">Date: {{news.publishedAt.split('T')[0]}}</ion-col>

      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
